.mat-card-title {
    margin-bottom: 20px;
}
.text-group {
    margin-bottom: 20px;
    label {
        font-size: 12px;
        margin-bottom: 5px; 
    }
    div {
        font-weight: 500;
        font-size: 18px;
    }
}
.d-row {
    display: flex;
    flex-direction: row;
    > div {
        padding: 0 15px;
        &:first-child {
            padding-left: 0;
        }
    }
}